<!-- <app-my-first></app-my-first>

<p>Code inside the app component</p>
<app-first-child></app-first-child> -->

<!-- day 2 -->
<!-- <app-modifiers></app-modifiers>


<br>

<app-data-binding></app-data-binding> -->

<!-- <app-structural-directives></app-structural-directives>

<p appSayHello>Lukas Straka</p>


<app-life-cycle-hooks *ngIf=visible></app-life-cycle-hooks> -->
<!-- <button (click)="visible = !visible">X</button> -->

<!-- <app-users></app-users> -->

<!--
<app-ng-template-example>
  <p first>Write here ///**************************************************</p>

  <div second>SECOND CONTENT</div>
</app-ng-template-example> -->

<app-posts></app-posts>
